* {
  font-family: 'Open Sans', sans-serif;
}

.container-toggle-custom {
  display: flex;
  flex-direction: row;
  align-items: center;
  .custom-toggle {
    margin-right: 10px;
    &.toggle-large {
      height: 40px;
      padding: 0 16px;
    }
    &.toggle-small {
      height: 32px;
      padding: 0 16px;
    }
  }
}