@import '../../../../styles/variables';

.custom-radio-block-container {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 4px;
  width: 240px;
  background-color: $accent-white-light-600;
  color: $black-shade-5;
  &.radio-block-large {
    height: 40px;
  }
  &.radio-block-small {
    height: 32px;
  }
  .custom-radio-input {
    width: 1rem;
    height: 1rem;
    margin: 0;
    opacity: 0;
    cursor: pointer;

    & + label {
      display: flex;
      align-items: center;
      margin-bottom: 0;
      outline: none !important;
      user-select: none;
      cursor: pointer;

      padding: 7px 12px;
      width: 100%;

      &::before {
        content: "";
        width: 1rem;
        height: 1rem;
        border: 1px solid $accent-white-1;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
      }
    }

    &:checked {
      & + label::before {
        content: "";
        background-image: url("../../../../static/images/radio-check-icon.svg");
        background-repeat: no-repeat;
        background-position: center;
        border: 1px solid $accent-light-green;
      }
      // background-color:$white-light;
    }
  }

  .custom-radio-label {
    margin-left: 0.75rem;
  }
  
  &.--isChecked {
    background-color:$white-light;
  }
}


