* {
  padding: 0;
  margin: 0;
  font-family: 'Open Sans', sans-serif;
}

.container-table {
  padding: 24px;
  margin-left: 204px;
  width: calc(100% - 204px);
  .title-header-table {
    width: 100%;
    padding: 0;
  }
  .custom-table-container {
    .table-react-next-custom__rma {
      table {
        margin-bottom: unset;
        thead {
          tr {
            th {
              .sort-icon-desc {
                margin-left: 8px;
                display: flex;
                flex-direction: column;
                &:focus-within {
                  color: red;
                }
                .caret-asc {
                  margin-top: 3px;
                }
                .caret-desc-blue {
                  transform: rotate(180deg);
                  margin-top: 3px;
                }
                .caret-desc {
                  margin-top: 3px;
                }
              }
              .sort-icon-asc {
                margin-left: 8px;
                display: flex;
                flex-direction: column;
                &:focus-within {
                  color: red;
                }
                .caret-asc {
                  margin-top: 3px;
                }
                .caret-desc {
                  margin-top: 3px;
                }
              }
            }
          }
        }
      }
    }
  }
}